body {
    width: 1600px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
.container {
    position: relative;
    display: flex;
}
.glass {
    width: 648px;
}
.caption {
    width: 256px;
    height: 46px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 16px 20px;
    text-align: left;
    position: absolute;
    bottom: 48px;

}
.header-container {
    position: absolute;
    width: 689px;
    height: 129px;
    display: flex;
    flex-direction: column;

    background-color: #fff;
    padding: 20px 0 25px 55px;
    font-family: "Ubuntu", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-left: 500px;
    z-index: 1;
    margin-top: 52px;
}



.rating {
    height: 24px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: left;
}

.rating img {
    margin-right: 8px;
}

.rating span {
    margin-left: 10px;
}